@model IEnumerable<EmpresariosConLiderazgo.Models.Entities.Balance>

@{
    ViewData["Title"] = "Paquetes";

}



<h1>Paquetes de inversión</h1>

<div>
    <!-- Content Row -->
    <div class="row">
        
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary text-uppercase mb-1">
                                INICIO
                            </div>
                            @*<div class="h6 mb-0 font-weight-bold text-gray-800"> Porcentaje : 7%</div>*@
                            <hr>
                            <p>Desde : $200.000</p>
                            <p>Hasta : $999.999</p>
                            <p>Porcentaje : 4%</p>
                            @* <div>
                                <input type="button" class="btn btn-outline-danger" value="Comprar" onclick="location.href='@Url.Action("BuyById", "Balance", new { Id = 1})'" />
                            </div>*@
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary text-uppercase mb-1">
                                Plus
                            </div>
                            @*<div class="h6 mb-0 font-weight-bold text-gray-800"> Porcentaje : 7%</div>*@
                            <hr>
                            <p>Desde : $1.000.000</p>
                            <p>Hasta : $3.499.999</p>
                            <p>Porcentaje : 5%</p>
                            @* <div>
                                <input type="button" class="btn btn-outline-danger" value="Comprar" onclick="location.href='@Url.Action("BuyById", "Balance", new { Id = 1})'" />
                            </div>*@
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary text-uppercase mb-1">
                                STAR
                            </div>
                            @*<div class="h6 mb-0 font-weight-bold text-gray-800"> Porcentaje : 7%</div>*@
                            <hr>
                            <p>Desde : $3.500.000</p>
                            <p>Hasta : $8.499.999</p>
                            <p>Porcentaje : 6.5%</p>
                            @* <div>
                                <input type="button" class="btn btn-outline-danger" value="Comprar" onclick="location.href='@Url.Action("BuyById", "Balance", new { Id = 1})'" />
                            </div>*@
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary text-uppercase mb-1">
                                Asociado
                            </div>
                            <hr>
                            <p>Desde : 8.500.000</p>
                            <p>Hasta : 12.499.999</p>
                            <p>Porcentaje : 7%</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary text-uppercase mb-1">
                                Emprendedor
                            </div>
                            <hr>
                            <p>Desde : $12.500.000</p>
                            <p>Hasta : 16.499.999</p>
                            <p>Porcentaje : 7.5%</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary text-uppercase mb-1">
                                Empresario
                            </div>
                            <hr>
                            <p>Desde : 16.500.000</p>
                            <p>Hasta : 20.499.999</p>
                            <p>Porcentaje : 8%</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary text-uppercase mb-1">
                                Financiero
                            </div>
                            <hr>
                            <p>Desde : 20.500.000</p>
                            <p>Hasta : 30.499.999</p>
                            <p>Porcentaje : 9%</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary text-uppercase mb-1">
                                elite
                            </div>
                            <hr>
                            <p>Desde : 30.500.000</p>
                            <p>En Adelante</p>
                            <p>Porcentaje : 9.8%</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> $</span>
            </div>
            <input type="text" class="form-control" name="amountToInvest" id="amountToInvest" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="Ingrese valor a INVERTIR" maxlength="10">
            <div class="input-group-append">
                <button class="btn btn-success" type="button"  onclick="InvestConfirm()">INVERTIR</button>
            </div>
        </div>
    </div>



    <div>
        <!-- Modal -->
        <div class="modal fade" id="InvestConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmar Inversión</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="myForm" action="CreateProduct" method="post">
                            <div class="form-group">
                                <label for="category">Categoria</label>
                                <input type="text" class="form-control" id="category" name="category" readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label for="amount">Valor a Invertir</label>
                                <input type="text" class="form-control" id="amount" name="amount" readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label for="amount">Porcentaje</label>
                                <input type="text" class="form-control" id="fee" name="fee" readonly="readonly">
                            </div>

                            <div class="form-group">
                                <label for="amount">Estado Actual</label>
                                <input type="text" class="form-control" id="status" disabled="disabled" value="PENDIENTE DE APROBACION">
                            </div>
                            <div class="form-group">
                                <label for="amount">Observaciones</label>
                                <textarea class="form-control" id="detail" disabled="disabled" rows="5">Esta Inversión entra en un proceso de verificación, por lo cual  debe hacer la consignacion o transferencia del valor y posteriormente se le enviara a su correo el contrato para que relice la firma y pueda ser activada, hasta que esto no ocurra su Inversión no empezara a generar dividendos</textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success">Aceptar y Continuar</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    function InvestConfirm() {

        var I_amount = document.getElementById('amountToInvest').value;
        var output = parseFloat(I_amount.replace(/,/g, ''));

        var Category = "";
        var fee = 0;


        if (typeof I_amount == 'undefined' || I_amount === null || I_amount === "" || (output >= 0 && output <= 199999)) {
             $("#category").val(null);
            $("#amount").val(0);

             alert("La cantidad Ingresada no cumple con los requisitos");

             $('#InvestConfirmation').modal('hide');


        } else { 
            
          
            if (output >= 200000 && output <= 999999) {
                Category = "INICIO";
                fee = 4;
            }
            if (output >= 1000000 && output <= 3499999) {
                Category = "PLUS";
                fee = 5;
            }

            if (output >= 3500000 && output <= 8499999) {
                Category = "STAR";
                fee = 6.5;
            }

            if (output >= 8500000 && output <= 12499999) {
                Category = "ASOCIADO";
                fee = 7;
            }

            if (output >= 12500000 && output <= 16499999) {
                Category = "EMPRENDEDOR";
                fee = 7.5;
            }
            if (output >= 16500000 && output <= 20499999) {
                Category = "EMPRESARIO";
                fee = 8;
            }
            if (output >= 20500000 && output <= 30499999) {
                Category = "FINANCIERO";
                fee = 9;
            }

            if (output >= 30500000) {
                Category = "ELITE";
                fee = 9.8;
            }
            var feePercent = fee+ "%";

            $("#category").val(Category);
            $("#amount").val(I_amount);
            $("#fee").val(feePercent);

            $('#InvestConfirmation').modal('show');

        }
    }
</script>
