@model IEnumerable<EmpresariosConLiderazgo.Models.Entities.Balance>

@{
    ViewData["Title"] = "Paquetes";
}

<h1>Paquetes de inversión</h1>

<div>
    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Plus
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$400,000</div>
                            <p>Detalle combo</p>
                            <div>
                                <input type="button" class="btn btn-outline-danger" value="Comprar" onclick="location.href='@Url.Action("BuyById", "Balance", new { Id = 1})'" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Star
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$400,000</div>
                            <p>Detalle combo</p>
                                <div>
                                <input type="button" class="btn btn-outline-danger" value="Comprar" onclick="location.href='@Url.Action("BuyById", "Balance", new { Id = 2})'" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Vip
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$400,000</div>
                            <p>Detalle combo</p>
                                <div>
                                <input type="button" class="btn btn-outline-danger" value="Comprar" onclick="location.href='@Url.Action("BuyById", "Balance", new { Id = 3})'" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Elite
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$400,000</div>
                            <p>Detalle combo</p>
                                <div>
                                <input type="button" class="btn btn-outline-danger" value="Comprar" onclick="location.href='@Url.Action("BuyById", "Balance", new { Id = 4})'" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


