@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}
@if (@TempData["AlertMessage"] != null)
{
    <div class="alert-success jumbotron">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}


<div class="text-center">
    <h1 class="display-4">Bienvenido a este espacio, donde podras invertir y hacer realidad tus sueños.</h1>
</div>



