@{
    ViewData["Title"] = "Pagina en ";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h5 class="card-title m-0">Nuestra Web</h5>
    </div>
    <div class="card-body">
        <h6 class="card-title">BIENVENIDOS</h6>
        <br />
        <br />
        <p>nuestra página web acá dale click y al instante tendrás visualización de nuestra compañía Conocenos y enterate de nocias informes y demás.  </p>

        
        <input type="button" class="btn btn-success" value="Visitar"     onclick="window.open('https://empresariosconliderazgo.org/')" target="_blank"  />

    </div>
</div>
