@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Bienvenid@, en empresarios con liderazgo estamos comprometidos con el cumplimiento de tus metas y propósitos, Gracias por elegirnos.";
        Layout = "_Layout_simple";
}

<h4>@ViewData["Title"]</h4>

<input type="button" class="btn btn-success" value="Continuar" onclick="location.href='@Url.Action("Index", "Home")'" />


