@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Bienvenido";<a   id="confirm-link" href="~/Users_App/EditByMail?mail=fercho0926@hotmail.com">ACEPTAR</a>
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
